.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.errorlist {
  color: red;
  border: 1px solid red;
  margin-bottom: 0;
}
span.errorlist{
  padding: 2mm;
}
input {
    padding-top: 1mm;
    padding-bottom: 1mm;
    margin-top: 2mm !important;
}
.main-menu {
    border-radius:0 !important;
    padding-top:30px !important;
    padding-bottom:30px !important;
    color:#FFFFFF;
    font-size:1.6rem !important;
  }
  .main-menu-xl {
    border-radius:0 !important;
    padding-top:65px !important;
    padding-bottom:65px !important;
    color:#FFFFFF;
    font-size:1.6rem !important;
  }
  .sub-menu {
    border-radius:0 !important;
    font-size:1.15rem !important;
  }
  .no-menu {
    font-size:1.2rem !important;
    padding-top:30px;
    padding-left:18px;
  }
  
  /* // パネル系 */
  .custom-panel {
    box-shadow: none !important;
    border-radius: 0px !important;
    border: solid 1px #EAEDF2 !important;
  }
  .custom-panel-search {
    box-shadow: none !important;
    border-radius: 0px !important;
    border: solid 1px #EAEDF2 !important;
    padding-top:14px !important;
    padding-left:14px !important;
    padding-right:14px !important;
    padding-bottom:5px !important;
    background: #F5F5F5 !important;
  }
  .custom-panel-heading {
    border-radius: 0px !important;
    background: #F5F5F5 !important;
    border: solid 1px #F5F5F5 !important;
    padding: 4px 15px !important;
  }
  .custom-panel-heading h4 {
    margin-top:10px !important;
    margin-bottom:10px !important;
  }
  .custom-panel-footer {
    border-radius: 0px !important;
    background: transparent !important;
  }
  .custom-panel-body {
    border-radius: 0px !important;
    border-top: solid 1px #EAEDF2 !important;
  }
  .custom-panel-notice {
    box-shadow: none !important;
    border-radius: 0px !important;
    border: solid 1px #F6D7D7 !important;
  }
  .custom-panel-heading-notice {
    border-radius: 0px !important;
    background: #F6D7D7 !important;
    border: solid 1px #F6D7D7 !important;
    padding: 4px 15px !important;
  }
  .custom-well {
    border-radius: 0px !important;
    background: #CCE6ED !important;
    border: solid 1px #AACDE1 !important;
    box-shadow: none;
  }
  .custom-tab {
    font-size: 1.35rem !important;
    box-shadow: none !important;
    border-radius: 0px 0px 0px 0px !important;
  }
  
  /* // モーダル系 */
  .custom-modal-content {
    border-radius: 0px !important;
  }
  .custom-modal-header {
    background: #34B697 !important;
  }
  .custom-modal-header .modal-title {
    color: #FFFFFF !important;
  }
  
  /* // テーブル系 */
  .custom-table {
    border-radius: 0px !important;
    font-size:1.5rem;
    margin-bottom:0px !important;
  }
  
  /* ボタン系 */
  .custom-btn {
    box-shadow: none !important;
    border-radius: 3px 3px 3px 3px !important;
  }
  .custom-btn-sm {
    font-size: 1.3rem !important;
    height: 30px !important;
    padding-top:6px !important;
  }
  .custom-btn-md {
    font-size: 1.5rem !important;
    height: 24px !important;
    padding-top:6px !important;
  }
  .custom-btn-lg {
    font-size:1.9rem !important;
    height:50px !important;
    padding-top:10px !important;
    width:320px;
  }
  
  /* 画像系 */
  .custom-img-rounded {
    border-radius: 2px !important;
  }
  
  /* 入力フォーム系 */
  .custom-form-control {
    border: solid 1px #EAEDF2;
    box-shadow: none;
    border-radius: 3px 3px 3px 3px !important;
    height: 24px;
  }
  .custom-form-control-radius-flat-l {
    border: solid 1px #EAEDF2;
    box-shadow: none;
    border-radius: 0px 3px 3px 0px !important;
    height: 24px;
  }
  .custom-form-control-radius-flat-r {
    border: solid 1px #EAEDF2;
    box-shadow: none;
    border-radius: 3px 0px 0px 3px !important;
    height: 24px;
  }
  .custom-input-group {
  }
  .custom-input-group label{
    margin:0;
  }
  .custom-input-group input {
    border: solid 1px #EAEDF2;
    border-right: none;
    box-shadow: none;
    border-radius: 3px 0px 0px 3px !important;
    height: 24px;
    min-width: 200px;
  }
  .custom-input-group-btn {
    box-shadow:none !important;
    height:24px;
    padding-top:6px;
    font-size:0.9rem;
  }
  
  .input-group-addon {
    background: #EAEDF2 !important;
    border: solid 1px #EAEDF2 !important;
    color: #434955;
  }
  
  .help-block {
    color: #528FBA !important;
    background: transparent !important;
    font-size: 1.0rem !important;
  }
  
  .notice-block {
    color: #C02B2F !important;
    background: transparent !important;
    font-size: 1.0rem !important;
  }
  
  
  .medium-icon {
    padding-left:6px;
    font-size: 2.0rem !important;
  }
  .large-icon {
    font-size: 8.5rem !important;
  }
  
  .plan-limit-unusable:before {
    color: #C02B2F;
    content: "\f05e";
    font-family: FontAwesome;
    padding-right: 5px;
  }
  .plan-limit-full-cnt:before {
    color: #C02B2F;
    content: "\f05e";
    font-family: FontAwesome;
    padding-right: 5px;
  }
  
  .custom-label {
    border-radius:1px !important;
    font-size:1.2rem !important;
    font-weight: normal !important;
    padding:5px !important;
  }
  
  /* //.select2-selection {
  //  height: 24px !important;
  //  border: 1px solid #EAEDF2 !important;
  //  padding: 6px 0px 6px 14px !important;
  //  box-shadow: none !important;
  //} */
  
  ::selection {
    background:#86A3C9 !important; /* Safari */
  }
  ::-moz-selection {
    background:#86A3C9 !important; /* Firefox */
  }
  
  
  /* // https://projects.lukehaas.me/css-loaders/ */
  .load-spinner-wrap {
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0.2);
    text-align:center;
    z-index: 201;
  }
  .load-spinner,
  .load-spinner:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
  }
  .load-spinner {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(0, 0, 0, 0.2);
    border-right: 1.1em solid rgba(0, 0, 0, 0.2);
    border-bottom: 1.1em solid rgba(0, 0, 0, 0.2);
    border-left: 1.1em solid #ffffff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
  }
  @-webkit-keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  